<nav>
  <!--<a routerLink="/register" routerLinkActive="active">Register</a>-->
</nav>
<router-outlet></router-outlet>
<router-outlet name="popup"></router-outlet>
<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrollgress.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>
<script src="assets/js/systemjs.config.js"></script>
<script>
  System.import('app').catch(function (err) { console.error(err); });
</script>
